<ion-header>

  <ion-navbar>
    <ion-title>workout-details</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-card>
    <ion-card-header>
      <strong>{{workout.title}}</strong>

    </ion-card-header>
    <ion-card-header>
      <p><strong>Type: </strong> {{workout.type}}</p>
      <hr>
      {{workout.note}}
      <br>
      <br>
      <br>
      <button ion-button color="danger" (click)="delete(workout._id.$oid)">Delete</button>
    </ion-card-header>
  </ion-card>
</ion-content>
