<!--
  Generated template for the AddWorkoutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>add-workout</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<form (submit)="onSubmit()">
  <ion-list>
    <ion-item>
      <ion-label fixed>Title</ion-label>
      <ion-input [(ngModel)]="title" name="title" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>Note</ion-label>
      <ion-input [(ngModel)]="note" name="note" type="textarea"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label fixed>Type</ion-label>
      <ion-select [(ngModel)]="type" name="type">
        <ion-option value="Jogging"> Jogging </ion-option>
        <ion-option value="Free Weights"> Free Weights </ion-option>
        <ion-option value="Elliptical"> Elliptical </ion-option>
        <ion-option value="Boxing"> Boxing </ion-option>
        <ion-option value="Aerobics"> Aerobics </ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <button ion-button type="submit" block>Add Workout</button>
    </ion-item>
  </ion-list>
</form>
</ion-content>
