<ion-header>
  <ion-navbar>
    <ion-title>
      Workouts
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  My Workouts
  <ion-list>
    <ion-item *ngFor="let workout of workouts" (click)="workoutSelected($event, workout)">
      {{workout.title}}
    </ion-item>
  </ion-list>
</ion-content>
